nav {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

nav a {
  padding: 0.3rem;
}

.img-placeholder {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: #000 !important;
  font-weight: bold !important;
}

.lang-button {
  text-decoration: none;
  color: black;
  border: 1px solid;
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}
